{
  "openapi": "3.1.0",
  "info": {
    "title": "Lev API",
    "version": "2026-03",
    "description": "Build on Lev with AI-friendly API docs, agent guides, and production integration recipes."
  },
  "servers": [
    {
      "url": "https://api.lev.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/api/external/v2/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the authenticated user's profile, account, and platform details",
        "description": "Get the authenticated user's profile, account, and platform details\n\nDocs page: https://www.lev.com/docs/build/account",
        "tags": [
          "Account & Team"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CurrentUserResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/account",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/me/accounts": {
      "get": {
        "operationId": "getMeAccounts",
        "summary": "List every account the authenticated user has an active membership on",
        "description": "List every account the authenticated user has an active membership on\n\nDocs page: https://www.lev.com/docs/build/account",
        "tags": [
          "Account & Team"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/account",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/me/active-account": {
      "patch": {
        "operationId": "patchMeActiveAccount",
        "summary": "Persist the authenticated user's active-account preference on the server",
        "description": "Persist the authenticated user's active-account preference on the server\n\nDocs page: https://www.lev.com/docs/build/account",
        "tags": [
          "Account & Team"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "slug"
                ],
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Account slug returned by GET /me (unscoped) or GET /me/accounts. Must match an account the authenticated user has an active membership on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "slug is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Account not found or user is not a member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/account",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/account/team": {
      "get": {
        "operationId": "getAccountTeam",
        "summary": "List team members in your account",
        "description": "List team members in your account\n\nDocs page: https://www.lev.com/docs/build/account",
        "tags": [
          "Account & Team"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountTeamMember"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/account",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/api-keys": {
      "post": {
        "operationId": "postApiKeys",
        "summary": "Create a new API key for the authenticated user",
        "description": "Create a new API key for the authenticated user\n\nDocs page: https://www.lev.com/docs/build/api-keys",
        "tags": [
          "API Keys"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "label"
                ],
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Human-readable label for the key (1–255 characters)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiKey"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/api-keys",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      },
      "get": {
        "operationId": "getApiKeys",
        "summary": "List all API keys for the authenticated user",
        "description": "List all API keys for the authenticated user\n\nDocs page: https://www.lev.com/docs/build/api-keys",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of results to skip (default 0)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/api-keys",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/api-keys/{key_id}": {
      "delete": {
        "operationId": "deleteApiKeysKeyId",
        "summary": "Permanently revoke an API key",
        "description": "Permanently revoke an API key\n\nDocs page: https://www.lev.com/docs/build/api-keys",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "description": "The ID of the API key to revoke",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BooleanDeleteResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/api-keys",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Public liveness endpoint — no authentication required",
        "description": "Public liveness endpoint — no authentication required\n\nDocs page: https://www.lev.com/docs/build/api-overview",
        "tags": [
          "Lev API Documentation"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [],
        "x-lev-docs-page": "https://www.lev.com/docs/build/api-overview",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/auth/validate-api-key": {
      "post": {
        "operationId": "postAuthValidateApiKey",
        "summary": "Validate an API key and receive authentication details",
        "description": "Validate an API key and receive authentication details\n\nDocs page: https://www.lev.com/docs/build/getting-started",
        "tags": [
          "Quickstart"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [],
        "x-lev-docs-page": "https://www.lev.com/docs/build/getting-started",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/billing/summary": {
      "get": {
        "operationId": "getBillingSummary",
        "summary": "Get subscription metadata and credit balance for the active account",
        "description": "Get subscription metadata and credit balance for the active account\n\nDocs page: https://www.lev.com/docs/build/billing",
        "tags": [
          "Billing"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BillingSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope: billing:read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/billing",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/billing/credits/balance": {
      "get": {
        "operationId": "getBillingCreditsBalance",
        "summary": "Get the credit balance for the active account",
        "description": "Get the credit balance for the active account\n\nDocs page: https://www.lev.com/docs/build/billing",
        "tags": [
          "Billing"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Credits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope: billing:read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/billing",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/companies": {
      "get": {
        "operationId": "getCompanies",
        "summary": "List companies in your account",
        "description": "List companies in your account\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "cursor and sort cannot be combined; use offset pagination when sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "post": {
        "operationId": "postCompanies",
        "summary": "Create a new company",
        "description": "Create a new company\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "company_type"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name (1–255 characters)"
                  },
                  "company_type": {
                    "type": "string",
                    "description": "Company type: \"lender\" or \"sponsor\" (required)"
                  },
                  "website": {
                    "type": "string",
                    "description": "Company website URL"
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address"
                  },
                  "city": {
                    "type": "string",
                    "description": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "State"
                  },
                  "zip": {
                    "type": "string",
                    "description": "ZIP code"
                  },
                  "org_id": {
                    "type": "integer",
                    "description": "Link to a global organization record"
                  },
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to create company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "name is required; company_type is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/companies/{company_id}": {
      "get": {
        "operationId": "getCompaniesCompanyId",
        "summary": "Get a single company by ID",
        "description": "Get a single company by ID\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "patch": {
        "operationId": "patchCompaniesCompanyId",
        "summary": "Update a company",
        "description": "Update a company\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/companies/{company_id}/notes": {
      "get": {
        "operationId": "getCompaniesCompanyIdNotes",
        "summary": "List notes logged on a company",
        "description": "List notes logged on a company\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "post": {
        "operationId": "postCompaniesCompanyIdNotes",
        "summary": "Add a note to a company",
        "description": "Add a note to a company\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Note text. Must be non-empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Note"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "text must not be blank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      }
    },
    "/api/external/v2/companies/{company_id}/notes/{note_id}": {
      "patch": {
        "operationId": "patchCompaniesCompanyIdNotesNoteId",
        "summary": "Edit a company note",
        "description": "Edit a company note\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Replacement note text. Must be non-empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Note"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "text cannot be empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company or note not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "text must not be blank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      },
      "delete": {
        "operationId": "deleteCompaniesCompanyIdNotesNoteId",
        "summary": "Permanently delete a company note",
        "description": "Permanently delete a company note\n\nDocs page: https://www.lev.com/docs/build/companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "description": "The company ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BooleanDeleteResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Company or note not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/companies",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/contacts": {
      "get": {
        "operationId": "getContacts",
        "summary": "List contacts with pagination",
        "description": "List contacts with pagination\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "cursor and sort cannot be combined; use offset pagination when sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "post": {
        "operationId": "postContacts",
        "summary": "Create a new contact",
        "description": "Create a new contact\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "contact_type",
                  "company_id"
                ],
                "type": "object",
                "properties": {
                  "contact_type": {
                    "type": "string",
                    "description": "Contact type: lender_contact or sponsor"
                  },
                  "company_id": {
                    "type": "integer",
                    "description": "Associated company ID"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address"
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title"
                  },
                  "department": {
                    "type": "string",
                    "description": "Department"
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address"
                  },
                  "address2": {
                    "type": "string",
                    "description": "Apartment, suite, or unit line"
                  },
                  "city": {
                    "type": "string",
                    "description": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "State"
                  },
                  "zip": {
                    "type": "string",
                    "description": "ZIP code"
                  },
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn profile URL"
                  },
                  "photo_url": {
                    "type": "string",
                    "description": "URL to a profile photo"
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PhoneIn"
                    },
                    "description": "Phone numbers. Each object: { raw, type?, country?, extension? }. raw accepts any common format and is normalized to E.164 server-side (unparseable numbers return 422). type is mobile, office, or fax (default mobile). country is a 2-letter ISO region used to parse numbers without a + prefix (default US)."
                  },
                  "is_primary": {
                    "type": "boolean",
                    "description": "Whether this is the primary contact at the company"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to create contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "contact_type is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/contacts/{contact_id}": {
      "get": {
        "operationId": "getContactsContactId",
        "summary": "Get a single contact by ID",
        "description": "Get a single contact by ID\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "patch": {
        "operationId": "patchContactsContactId",
        "summary": "Update a contact",
        "description": "Update a contact\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address"
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title"
                  },
                  "department": {
                    "type": "string",
                    "description": "Department"
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address"
                  },
                  "address2": {
                    "type": "string",
                    "description": "Apartment, suite, or unit line"
                  },
                  "city": {
                    "type": "string",
                    "description": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "State"
                  },
                  "zip": {
                    "type": "string",
                    "description": "ZIP code"
                  },
                  "linkedin_url": {
                    "type": "string",
                    "description": "LinkedIn profile URL"
                  },
                  "photo_url": {
                    "type": "string",
                    "description": "URL to a profile photo"
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PhoneIn"
                    },
                    "description": "Replaces the contact's entire phone list — send [] to clear all numbers. Same object shape as Create Contact."
                  },
                  "is_primary": {
                    "type": "boolean",
                    "description": "Set to true to make this the primary contact at the company. Promoting one contact demotes the previous primary."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Changing a contact's email is not supported yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/contacts/{contact_id}/actions/unlock": {
      "post": {
        "operationId": "postContactsContactIdActionsUnlock",
        "summary": "Reveal an AI-recommended lender contact — charges credits; requires the ai:actions scope",
        "description": "Reveal an AI-recommended lender contact — charges credits; requires the ai:actions scope\n\nDocs page: https://www.lev.com/docs/build/contacts\n\nDocumented response: the revealed [Contact Object](#contact-object), now carrying the contact's name and other identity fields.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact to reveal — the `contact_id` returned on the placement",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the revealed [Contact Object](#contact-object), now carrying the contact's name and other identity fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to unlock this contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Missing required scope: ai:actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      }
    },
    "/api/external/v2/contacts/{contact_id}/notes": {
      "get": {
        "operationId": "getContactsContactIdNotes",
        "summary": "List notes logged on a contact",
        "description": "List notes logged on a contact\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "post": {
        "operationId": "postContactsContactIdNotes",
        "summary": "Add a note to a contact",
        "description": "Add a note to a contact\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Note text. Must be non-empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Note"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "text must not be blank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      }
    },
    "/api/external/v2/contacts/{contact_id}/notes/{note_id}": {
      "patch": {
        "operationId": "patchContactsContactIdNotesNoteId",
        "summary": "Edit a contact note",
        "description": "Edit a contact note\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Replacement note text. Must be non-empty."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Note"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "text cannot be empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact or note not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "text must not be blank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      },
      "delete": {
        "operationId": "deleteContactsContactIdNotesNoteId",
        "summary": "Permanently delete a contact note",
        "description": "Permanently delete a contact note\n\nDocs page: https://www.lev.com/docs/build/contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "The contact ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The note ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BooleanDeleteResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Contact or note not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/contacts",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json"
        ]
      }
    },
    "/api/external/v2/deals/{deal_id}/financials": {
      "get": {
        "operationId": "getDealsDealIdFinancials",
        "summary": "Get financial details for a deal",
        "description": "Get financial details for a deal\n\nDocs page: https://www.lev.com/docs/build/deal-financials",
        "tags": [
          "Deal Financials"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "description": "The deal ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DealFinancials"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Deal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/deal-financials",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/deals/{deal_id}/properties": {
      "get": {
        "operationId": "getDealsDealIdProperties",
        "summary": "List properties associated with a deal",
        "description": "List properties associated with a deal\n\nDocs page: https://www.lev.com/docs/build/deal-properties",
        "tags": [
          "Deal Properties"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "description": "The deal ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealProperty"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Deal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/deal-properties",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/deals/{deal_id}/team": {
      "get": {
        "operationId": "getDealsDealIdTeam",
        "summary": "List all team members assigned to a deal",
        "description": "List all team members assigned to a deal\n\nDocs page: https://www.lev.com/docs/build/deal-team",
        "tags": [
          "Deal Team"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "description": "The deal ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealTeamMember"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Deal not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/deal-team",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      }
    },
    "/api/external/v2/deals": {
      "get": {
        "operationId": "getDeals",
        "summary": "List deals with pagination, filtering, and sorting",
        "description": "List deals with pagination, filtering, and sorting\n\nDocs page: https://www.lev.com/docs/build/deals",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (1–200, default 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor for next page (mutually exclusive with sort)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset for pagination (requires sort)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort fields: title, loan_amount, created_at, updated_at. Prefix with - for descending",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated fields to include (id always included)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Sub-resources to embed: financials, properties, team, pipelines",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[loan_type]",
            "in": "query",
            "required": false,
            "description": "Filter by loan type enum name, such as heavy_bridge or permanent",
            "schema": {
              "$ref": "#/components/schemas/LoanType"
            }
          },
          {
            "name": "filter[transaction_type]",
            "in": "query",
            "required": false,
            "description": "Filter by transaction type enum name, such as acquisition or refinance",
            "schema": {
              "$ref": "#/components/schemas/TransactionType"
            }
          },
          {
            "name": "filter[business_plan]",
            "in": "query",
            "required": false,
            "description": "Filter by business plan enum name",
            "schema": {
              "$ref": "#/components/schemas/BusinessPlanType"
            }
          },
          {
            "name": "filter[archived]",
            "in": "query",
            "required": false,
            "description": "Filter by archived state. Omit to return both active and archived deals; pass true for only archived, false for only active",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[loan_amount][gte]",
            "in": "query",
            "required": false,
            "description": "Minimum loan amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "filter[loan_amount][lte]",
            "in": "query",
            "required": false,
            "description": "Maximum loan amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "filter[created_at][gte]",
            "in": "query",
            "required": false,
            "description": "Created after (ISO 8601)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][lte]",
            "in": "query",
            "required": false,
            "description": "Created before (ISO 8601)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deal"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "cursor and sort cannot be combined; use offset pagination when sorting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/deals",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>"
        ]
      },
      "post": {
        "operationId": "postDeals",
        "summary": "Create a new deal",
        "description": "Create a new deal\n\nDocs page: https://www.lev.com/docs/build/deals",
        "tags": [
          "Deals"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "title"
                ],
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Deal title (1–255 characters)"
                  },
                  "loan_amount": {
                    "type": "number",
                    "description": "Requested loan amount"
                  },
                  "loan_type": {
                    "$ref": "#/components/schemas/LoanType",
                    "description": "Loan type enum name, such as construction, heavy_bridge, or permanent"
                  },
                  "transaction_type": {
                    "$ref": "#/components/schemas/TransactionType",
                    "description": "Transaction type enum name, such as acquisition, refinance, or new_construction"
                  },
                  "business_plan": {
                    "$ref": "#/components/schemas/BusinessPlanType",
                    "description": "Business plan enum name: stabilized, value_add, construction, or land"
                  },
                  "description": {
                    "type": "string",
                    "description": "Deal description"
                  },
                  "estimated_close_date": {
                    "type": "string",
                    "description": "Estimated close date (ISO 8601)"
                  },
                  "pipeline_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Pipeline IDs to add the deal to"
                  },
                  "deal_financials": {
                    "$ref": "#/components/schemas/DealFinancialsWrite",
                    "description": "Deal-level financial fields to create with the deal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Deal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "title is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorEnvelope"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-lev-docs-page": "https://www.lev.com/docs/build/deals",
        "x-lev-headers": [
          "Authorization: Bearer <token>",
          "X-Origin-App: <client-name>",
          "Content-Type: application/json",
          "Idempotency-Key: <uuid>"
        ]
      }
    },
    "/api/external/v2/deals/{deal_id}": {
      "get": {
        "operationId": "getDealsDealId",
        "summary": "Get a single deal by ID",
        "description": "Get a single deal by ID\n\nDocs page: https://www.lev.com/docs/build/deals",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "description": "The deal ID",
            "schema": {
              "type": "integer"
            }
          },
          {
[...]
